extends  ../layout

block content
    h2 Información cliente
    h4 #{cliente.nombre} #{cliente.apellidos}
        p Dirección: #{cliente.direccion}
        p dni: #{cliente.dni}  
        p Fecha nacimiento #{cliente.fecha_nacimiento} 
        p Fecha inscripción #{cliente.fecha_inscripcion} 